*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fb;
    color: #111;
    width: 100%;
    box-sizing: border-box;
}
header{
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
}
nav{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-field{
    width:100%;
}
section
{
    width: 100%;
}
input{
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 12px;
    font-size: 1rem;
    font-family: inherit;
    outline: none;
    transition: 0.3s;
}

form button{
    padding: 1em;
    border: none;
    border-radius: 12px;
    background-color: #093c69;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
}

form span {
    color: red;
    font-size: 0.85rem;
}

.table-head,#student-display li{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px;
    margin: 0;
    list-style: none;
}

.table-head
{
    background-color: #2c3e50;
    color: white;
    text-transform: uppercase;
    border: 1px solid #ddd;
}
#students-section{
    display: none;
}
#resend-verification-button{
    color: black;
    background-color: #6b7280;
}
.checkbox-section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 1em 0;
}
.checkbox-section p{
    margin: 0;
}
main {
    padding: 30px;
}
section {
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow:0 10px 20px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
}
@media screen and (max-width: 1023px) {

  
    form {
        margin: 2em auto;
        padding: 1.5em;
    }
    .table-head{
        display: none;
    }
    #student-display{
        margin: 0;
        padding: 0;
    }
     #student-display li {
        grid-template-columns: 1fr; 
        gap: 6px;
        font-size: 0.9rem;
        background-color: #ffffff;
        border: 1px solid #e6e6e6;
        border-radius: 16px;
        padding: 12px 16px;
        margin-bottom: 12px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.06);
    }
}